.resume-display .name {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0.625rem;
}

@media (width <= 1200px) {
  .resume-display .name {
    font-size: 4rem;
  }

  .resume-display .contact-information {
    text-align: center;
  }
}

@media (width > 1200px) {
  .resume-display .contact-information {
    display: flex;
    justify-content: center;
  }

  .resume-display .contact-information > :not(:last-child)::after {
    content: "•";
    margin: 0 0.625rem;
  }
}

.resume-display h2 {
  font-size: 2rem;
}

.resume-display h3 {
  margin-bottom: 0.5rem;
}

.resume-display .educational-institution,
.resume-display .job {
  font-size: 1.2rem;
}
