.form-input,
.form-select {
  --input-padding: 0.625rem;

  display: flex;
  flex-direction: column;

  position: relative;
}

input,
select {
  height: 3.125rem;
  border-radius: 5px;
  border: solid black 1px;
  padding: 0 var(--input-padding);
}

label {
  position: absolute;
  top: 0;
  left: var(--input-padding);
  transform: translateY(-50%);
  background-color: white;
  padding: 0.313rem;
}

.form-select select {
  background-color: white;
}

.form-input.invalid input {
  border-color: red;
}

.form-input.invalid label {
  color: red;
}

.form-input.valid input {
  border-color: green;
}

.form-input.valid label {
  color: green;
}
