form {
  --input-margin-bottom: 1.563rem;
}

form .input-list {
  display: flex;
  flex-direction: column;
  gap: var(--input-margin-bottom);
  margin-bottom: var(--input-margin-bottom);
}

form .form-row {
  display: flex;
  align-items: center;
  gap: 0.938rem;
}

form .form-row .fill {
  flex: 1;
}

form .button-list {
  display: flex;
  justify-content: flex-end;
}

form select {
  width: 100%;
}
