.resume-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.125rem;
}

@media (width <= 1200px) {
  .resume-page {
    gap: 2rem;
  }
}

.card,
.resume-section {
  flex: 1 1 62.5rem;
}
