.resume-section {
  display: flex;

  position: relative;
  margin: 0 20rem;
}

.resume-section.center {
  justify-content: center;
}

.resume-section button.edit {
  position: absolute;
  top: 0;
  right: 0;
}
